In [14]:
import pandas as pd
import numpy as np
import sys as sys
applications = pd.read_csv("./Wuzzuf_Applications_Sample.csv")
job_posts = pd.read_csv("./Wuzzuf_Job_Posts_Sample.csv")

In [3]:
applications.head()

         id   user_id   job_id             app_date
0  ba7b8f17  846d013c  516e4ed  2014-01-01 07:27:52
1  30e1ae86  9d5e32c5  516e4ed  2014-01-01 08:20:42
2  d829a6b7  eb26a291  516e4ed  2014-01-01 10:30:37
3  3f985f37  7b5e68a8  516e4ed  2014-01-01 10:55:07
4   27e1695  76fa79b1  516e4ed  2014-01-01 11:00:26

In [4]:
job_posts.head()

,id,city,job_title,job_category1,job_category2,job_category3,job_industry1,job_industry2,job_industry3,salary_minimum,salary_maximum,num_vacancies,career_level,experience_years,post_date,views,job_description,job_requirements,payment_period,currency
0,516e4ed,Ciro,Sales & Marketing Agent,Sales/Retail/Business Development,Marketing,Select,Telecommunications Services,Select,Select,2000,3500,8,Entry Level,0-1,2014-01-01 06:01:41,2602,<p><strong>Qualifications</strong>:<br /><br /...,NaN,Per Month,Egyptian Pound
1,a361ef59,Cairo,German Training Coordinator,Customer Service/Support,Administration,Human Resources,Translation and Localization,Business Services - Other,Education,1000,5000,8,Entry Level,0-2,2014-01-01 20:01:18,2213,<p>&bull;Placing jobs' ads on various websites...,NaN,Per Month,Egyptian Pound
2,7226ce78,Cairo,Junior Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,2500,1,Entry Level,2,2014-01-02 11:01:03,2940,"<span style=""text-decoration: underline;""><str...",NaN,Per Month,Egyptian Pound
3,f4b2bcd6,Cairo,Application Support Engineer,IT/Software Development,Select,Select,Telecommunications Services,Select,Select,2000,3500,1,Entry Level,1-2,2014-01-02 12:01:23,2042,"<strong><span style=""text-decoration: underlin...",NaN,Per Month,Egyptian Pound
4,3fee6f73,Alexandria,Electrical Maintenance Engineer,Engineering,Select,Select,Food and Beverage Production,Select,Select,5000,8000,1,Experienced (Non-Manager),1-3,2014-01-21 13:45:56,5684,Job Title: Electrical Maintenance Engineer<br ...,NaN,Per Month,Egyptian Pound

In [6]:
job_posts.shape

(21850, 20)

In [7]:
applications.shape

(1854190, 4)

AttributeError: module 'pandas' has no attribute 'null'

Sources
https://learning.oreilly.com/library/view/machine-learning-solutions/9781788390040/ch06s03.html

Dataset:
https://www.kaggle.com/WUZZUF/wuzzuf-job-posts

In [15]:
sys.executable

'/Users/zara/anaconda3/bin/python'

In [16]:
sys.path

['/Users/zara/Desktop/firebase-app/msc/algorithm',
 '/Users/zara/anaconda3/lib/python37.zip',
 '/Users/zara/anaconda3/lib/python3.7',
 '/Users/zara/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/zara/anaconda3/lib/python3.7/site-packages',
 '/Users/zara/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/zara/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/zara/.ipython']